* {
  margin: 0;
  padding: 0; }

.shoppingcarlogo {
  width: 990px;
  margin: 0 auto;
  height: 120px; }
  .shoppingcarlogo .gwclogo {
    width: 135px;
    height: 120px;
    float: left;
    line-height: 120px; }
  .shoppingcarlogo .gwcpic {
    float: left;
    width: 135px;
    height: 120px;
    background: url(../img/gwc.png) no-repeat 0 32px; }

.shopping-body {
  margin: 0 auto 12px;
  width: 990px;
  overflow: hidden; }
  .shopping-body .no-product {
    display: none;
    border: 1px solid #e6e6e6;
    padding: 56px 0;
    overflow: hidden;
    font-family: "Microsoft Yahei" !important; }
    .shopping-body .no-product .gwc-icons {
      width: 71px;
      height: 54px;
      background-image: url(../img/sprite.png);
      background-position: 0 0;
      float: left;
      margin-left: 315px;
      margin-right: 18px; }
    .shopping-body .no-product .gwc-link {
      float: left; }
      .shopping-body .no-product .gwc-link .go-login {
        display: inline-block;
        width: 40px;
        height: 30px;
        background: #e3101e;
        color: #fff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        margin-top: 15px; }
      .shopping-body .no-product .gwc-link .selectProducts {
        color: #006699;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 15px; }
  .shopping-body .has-products .col-1 {
    width: 80px;
    display: inline-block; }
  .shopping-body .has-products .col-2 {
    width: 360px;
    display: inline-block; }
  .shopping-body .has-products .col-3 {
    width: 155px;
    display: inline-block; }
  .shopping-body .has-products .col-4 {
    width: 80px;
    display: inline-block; }
  .shopping-body .has-products .col-5 {
    width: 130px;
    display: inline-block;
    text-align: right; }
  .shopping-body .has-products input[type=checkbox] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: 0 10px 0 15px; }
  .shopping-body .has-products .prd-head {
    height: 40px;
    background: #eee;
    width: 100%;
    line-height: 40px; }
    .shopping-body .has-products .prd-head span {
      display: inline-block;
      vertical-align: middle; }
  .shopping-body .has-products .prd-container .dianpu-name {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    line-height: 40px; }
    .shopping-body .has-products .prd-container .dianpu-name span {
      vertical-align: middle; }
  .shopping-body .has-products .prd-container .prd-info {
    background: #fffaf4;
    padding: 17px 17px 20px 0;
    border: 1px solid #ccc; }
    .shopping-body .has-products .prd-container .prd-info input {
      vertical-align: top;
      margin-right: 8px; }
    .shopping-body .has-products .prd-container .prd-info img {
      width: 80px;
      height: 80px;
      vertical-align: top;
      border: 1px solid #ccc; }
    .shopping-body .has-products .prd-container .prd-info .col-2:hover {
      cursor: pointer;
      color: #E3101E; }
    .shopping-body .has-products .prd-container .prd-info .col-3, .shopping-body .has-products .prd-container .prd-info .col-4, .shopping-body .has-products .prd-container .prd-info .col-5 {
      vertical-align: top; }
    .shopping-body .has-products .prd-container .prd-info .col-4 {
      position: relative; }
    .shopping-body .has-products .prd-container .prd-info .col-5 {
      font-size: 13px;
      font-weight: 700; }
    .shopping-body .has-products .prd-container .prd-info #numInCar {
      width: 78px;
      height: 20px;
      border: 1px solid #ccc;
      line-height: 20px;
      text-align: center; }
    .shopping-body .has-products .prd-container .prd-info .addNumInCar, .shopping-body .has-products .prd-container .prd-info .miunsNumInCar {
      position: absolute;
      top: 0;
      width: 15px;
      height: 20px;
      text-align: center;
      line-height: 20px; }
    .shopping-body .has-products .prd-container .prd-info .miunsNumInCar {
      left: 0;
      border-right: 1px solid #ccc; }
    .shopping-body .has-products .prd-container .prd-info .addNumInCar {
      right: 0;
      border-left: 1px solid #ccc; }
    .shopping-body .has-products .prd-container .prd-info .col-7 {
      width: 65px;
      display: inline-block;
      margin-left: 30px; }
      .shopping-body .has-products .prd-container .prd-info .col-7 a {
        color: #666; }
        .shopping-body .has-products .prd-container .prd-info .col-7 a:hover {
          color: #e3101e; }
  .shopping-body .has-products .prd-container .prd-footer {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f3f3f3; }
    .shopping-body .has-products .prd-container .prd-footer div {
      display: inline-block;
      margin-left: 520px;
      margin-right: 25px; }
    .shopping-body .has-products .prd-container .prd-footer .count {
      color: #e3101e;
      font-weight: 700;
      font-size: 14px;
      margin: 0 2px; }
    .shopping-body .has-products .prd-container .prd-footer #totalPrice {
      color: #e3101e;
      font-size: 18px;
      font-weight: 700;
      margin-right: 10px;
      width: 115px;
      display: inline-block; }
    .shopping-body .has-products .prd-container .prd-footer .goBuy {
      display: inline-block;
      width: 130px;
      height: 60px;
      background: #e3101e;
      color: #fff;
      text-align: center;
      font-family: microsoft YaHei;
      font-size: 16px;
      font-weight: 700; }

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #dd00a7; }
  .footer-bottom .wbox {
    width: 990px;
    margin: 0 auto; }
