*{
	margin:0;
	padding:0;
}
 // 淘 购 逛 部分
 .tao {
 	height: 460px;
 	margin-top: 20px;
 	.taobox {
 		width: 420px;
 		float: left;
 		&:nth-child(2){
 			margin: 0 10px;
 		}
 		&:nth-child(3){
 			width: 339px;
 		}
 	}
 	.tao-title {
 		height: 35px;
 		line-height: 35px;
 		h2 {
 			margin-top: 4px;
 			width: 70px;
 			height: 27px;
 			background: url(../img/ui_1.png) no-repeat -169px -100px;
 			float:left;
 		}
 		span {
 			margin-left: 10px;
			color: #ccc;
			font-size: 20px;
			float:left;
 		}
 	}
 	.tao-body {
 		height: 423px;
 		border: 1px solid #e6e6e6;

 	}
 	.tao-body-last {
		width: 340px;
		height: 421px;
		border: 1px solid #e6e6e6;

		.last-l {
			width: 219px;
			float: left;
			img:first-child{
				border-bottom: 1px dashed #e6e6e6;
			}
		}
		.last-r {
			width: 119px;
			float: right;
			border-left: 1px dashed #e6e6e6;
			text-align: center;
			img {
				margin-top: 18px;
				padding-bottom: 15px;
				width: 119px;
				border-bottom: 1px dashed #e6e6e6;
			}
		}
	}
 }

 //领券中心
 .quanCenter {
 	height: 110px;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

 //金融部分
 .finance {
 	.finance-title {
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		h2,span {
			display: inline-block;
			font-weight: normal;
		}
		span {
			margin-left: 10px;
			color: #ccc;
			font-size: 20px;
		}
 	}
 	.finance-body {
 		height: 230px;
 		border: 1px solid #e6e6e6;
 		overflow: hidden;
 		box-sizing: border-box;
 		width: 1200px;
 		.f_m_l {
 			width: 1200px;
 			position: relative;
 			.pindao {
 				width: 90px;
 				height: 30px;
 				background: #b8892b;
 				display: block;
 				position: absolute;
 				top: 155px;
 				left: 60px;
 				color: #fff;
 				font-size: 14px;
 				line-height: 30px;
 				text-align: center;
 				border-radius: 3px;
				&:hover {
					cursor: pointer;
				}
 			}
 		}
 	}
 }

 // 楼层部分
 .tabbg {
 	background: #719ef7;
 }

 .floor {
 	height: 545px;
 	// 上部分
 	.floor-top {
 		border-bottom: 1px solid #719ef7;
 		height: 38px;
 		padding-top: 32px;
 		.title {
 			float: left;
 			font-size: 20px;
 			line-height: 38px;
 		}
 		.tab {
 			float: right;
 			width: 517px;
 			ul {
 				height: 30px;
 				margin-top: 8px;
 				li {
 					line-height: 30px;
 					font-size: 14px;
 					float: left;
 					
					.tab-a-color{
					 	color: #fff;
					}
 					a {
 						color: #5e5e5e;
 						padding: 0 15px;
 					}
 				}
 			}
 		}
 	}
 	//楼层主体部分
 	.floor-body {
		height: 470px;
		.floor-body-left {
			float: left;
			width: 210px;
			background: #7ca5f5;
			height: 470px;
			img {
				margin-left: -10px;
			}
			.channel {
				
				background: rgba(0,0,0,0.1);
				padding-left: 13px;
				height: 30px;
			}
			.channel li {
				float: left;
				line-height: 30px;
				font-size: 14px;
				height: 30px;
				color: #fff;
				margin: 0 2px;
				a {
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.keywords {
				padding: 8px 0 0 15px;
				ul {
					margin-right: 13px;
					float: left;
				}
				li {
					line-height: 28px;
					a {
						font-size: 12px;
						color: #fff;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.floor-body-main {
			float: left;
			width: 990px;
			height: 470px;
			position: relative;
			.tabbox1{
				position: absolute;
				right: 0;
				top: 0;
				//放子轮播图的盒子
				.main-left-slide {
					width: 389px;
					height: 470px;
					float: left;
					position:relative;
				}
				//轮播图中的箭头
				.leftArrow,.rightArrow{
			        position: absolute;
			        top:50%;
			        width: 30px;
			        height: 50px;
			        text-align: center;
			        line-height: 50px;
			        transform: translateY(-50%);
			        background: rgba(180,180,180,0.4);
			        font-size: 30px;
			    }
			    .leftArrow{
			        left:0px;
			    }
			    .rightArrow{
			        right:0px;
			    }
				// 1楼 右边盒子
				.main-right {
					width: 601px;
					height: 470px;
					float: left;
				}
			}
			.tabbox2 {
				position: absolute;
				right: 0;
				top: 0;
				width: 990px;
				height: 470px;
				display: none;
			}
			
		}
 	}
 }

 //10楼 生活服务 样式
 .lifeService {
 	width: 100%;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	background: #f0f0f0;
 	margin-top: 40px;
 	.wbox {
 		height: 400px;
 		// 公共样式 开始
 		.jinrong {
 				width: 295px;
 				height: 287px;
 				position: absolute;
 				top: 0;
 				left: 0;
 				.jrbottom {
 					width: 100%;
 					height: 40px;
 					position: absolute;
 					bottom: 0px;
 					left: 0;
 					background: rgba(0,0,0,0.5);
 					padding-left: 15px;
 					line-height: 40px;
 					box-sizing: border-box;
 					a {
 						font-size: 16px;
 						color: #fff;
 						margin-right: 10px;
 					}
	 				span {
	 					width: 38px;
 						color: #fff;
 						font-size: 14px;
	 					height: 20px;
	 					line-height: 20px;
	 					display: inline-block;
	 					border: 1px solid #fff;
	 					text-align: center;
	 					border-radius: 3px;
	 				}
 				}
 				
 		}
 			.meiyingbao {
 				position: absolute;
 				top: 287px;
 				width: 294px;
 				left: 0;
 				.mei-top {
 					padding-left: 15px;
 					height: 35px;
 					line-height: 35px;
 					width: 280px;
 					background: #c19c51;
 					span {
 						color: #fff;
 					}
 					a {
 						color: #fff;
 						font-size: 14px;
 					}
 				}
 				.mei-bottom {
 					width: 295px;
 					background: #ccad6f;
 					height: 78px;
 					padding-left: 15px;
 					padding-top: 17px;
 					box-sizing: border-box;
 					a {
 						color: #fff;
 						font-size: 12px;
 						line-height: 22px;
 						margin-right: 20px;

 					}
 				}
 		}
 		// 公共样式 结束
 		.l-s-left {
 			width: 495px;
 			float: left;
 			background: yellow;
 			height: 400px;
 			position: relative;
 			overflow: hidden;
 			
 			ul {
 				position: absolute;
 				top: 0;
 				right: 0;
 				border-left: 1px solid #fff;
 				li {
 					position: relative;
 				}
 				.aS {
 					width: 100%;
 					text-align: center;
 					position: absolute;
 					top: 60px;
 					left: 0;
 				}
 				.firstA {
					width:85px;
					height: 28px;
					line-height: 28px;
					text-align: center;
					color: #fff;
					font-size: 16px;
					border: 1px solid #fff;
					border-radius: 3px; 
					display: inline-block;
				}
				.secondA {
					color: #fff;
					font-size: 16px;
					display: block;
					margin-top: 15px;
				}
 				li:first-child{
 					border-bottom: 1px solid #fff; 					
 				}
 			}
 		}
 		.l-s-right {
 			width: 698px;
 			height: 400px;
 			float: right;
 			position: relative;
 			overflow: hidden;
 			ul {
 				position: absolute;
 				right: 0;
 				top: 0;
 				width: 402px;
 				height: 400px;
 				overflow: hidden;
 				li {
 					float: left;
 					width: 199px;
 					height: 199px;
 					position: relative;
 					box-sizing: border-box;
 					overflow: hidden;

 					&:nth-child(1){
 						border-bottom: 1px solid #b1b1b1;
 						border-right: 1px solid #b1b1b1;
 					}
 					&:nth-child(4){
 						border-top: 1px solid #b1b1b1;
 						border-left: 1px solid #b1b1b1;
 					}
 					img {
 						width: 199px;
 						height: 199px;
 					}
 					a{
 						position: absolute;
 						box-sizing: border-box;
 						padding-left: 10px;
 						width: 100%;
 						bottom: 0;
 						height: 30px;
 						display: block;
 						color: #fff;
 						font-size: 14px;
 						line-height: 30px;
 						background: rgba(0,0,0,0.5);
 					}
 				}
 			}
 		}
 	}
 }


 


