* {
	margin: 0;
	padding: 0;
}
// 购物车logo部分
.shoppingcarlogo {
	width: 990px;
	margin: 0 auto;
	height: 120px;
	
	.gwclogo {
		width: 135px;
		height: 120px;
		float: left;
		line-height: 120px;
	}
	.gwcpic {
		float: left;
		width: 135px;
		height: 120px;
		background: url(../img/gwc.png) no-repeat 0 32px;
	}
}




.shopping-body {
	margin: 0 auto 12px;
	width: 990px;
	overflow: hidden;
	.no-product {
	    display: none;
	    border: 1px solid #e6e6e6;	    
	    padding: 56px 0;
		overflow: hidden;	
	    font-family: "Microsoft Yahei"!important;
	    .gwc-icons {
	    	width: 71px;
		    height: 54px;
		    background-image: url(../img/sprite.png);
		    background-position: 0 0;
		    float: left;
		    margin-left: 315px;
		    margin-right: 18px;
	    }
	    .gwc-link {
	    	float: left;
	    	.go-login {
	    		display: inline-block;
	    		width: 40px;
	    		height: 30px;
	    		background: #e3101e;
	    		color: #fff;
	    		font-size: 12px;
	    		line-height: 30px;
	    		text-align: center;
	    		border-radius: 4px;
	    		margin-top: 15px;
	    	}
	    	.selectProducts {
	    		color: #006699;
	    		font-size: 12px;
	    		margin-left: 10px;
	    		margin-top: 15px;

	    	}
	    }
	}
	.has-products {
	    .col-1 {
	        width: 80px;
	        display: inline-block;
	    }
	    .col-2 {
            width: 360px;
            display: inline-block;
        }
        .col-3 {
            width: 155px;
            display: inline-block;
        }
        .col-4 {
            width: 80px;
            display: inline-block;
        }
        .col-5 {
            width: 130px;
            display: inline-block;
            text-align: right;
        }
	    input[type=checkbox]{
	        width: 14px;
	        height: 14px;
	        vertical-align: middle;
	        margin: 0 10px 0 15px;
	    }
	    .prd-head{
	        height: 40px;
    	    background: #eee;
    	    width: 100%;
    	    line-height: 40px;
    	    span {
    	        display: inline-block;
    	        vertical-align: middle;
    	    }   
	    }
	    .prd-container {
	        .dianpu-name {
                margin-top: 10px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid #ccc;
                line-height: 40px;
                span {
                    vertical-align: middle;
                }
            }
            .prd-info {
                background: #fffaf4;
                padding: 17px 17px 20px 0;
                border: 1px solid #ccc;
                border-top: none;
                input {
                    vertical-align: top;
                    margin-right: 8px;
                }
                img {
                    vertical-align: top;
                    border: 1px solid #ccc;
                }
                .col-2 {
                    &:hover {
                        cursor: pointer;
                        color: #E3101E;
                    }
                }
                .col-3,.col-4,.col-5 {
                	vertical-align: top;
                }
                .col-4 {
                	position: relative;
                }
                .col-5 {
                	font-size: 13px;
                	font-weight: 700;

                }
                #numInCar {
                	width: 78px;
					height: 20px;
					border: 1px solid #ccc;
					line-height: 20px;
					text-align: center;
                }
                .addNumInCar, .miunsNumInCar {
                	position: absolute;
                	top: 0;
                	width: 15px;
                	height: 20px;
                	text-align: center;
                	line-height: 20px;
                }
                .miunsNumInCar {
                	left: 0;
                	border-right: 1px solid #ccc;
                }
                .addNumInCar {
                	right: 0;
                	border-left: 1px solid #ccc;
                }
                .col-7 {
                	width: 65px;
                	display: inline-block;
                	margin-left: 30px;
                	a {
                		color: #666;
                		&:hover {
                			color: #e3101e;
                		}
                	}

                }
                #remove {

                }

            } 
            .prd-footer {
            	margin-top: 20px;
            	width: 100%;
            	height: 60px;
            	line-height: 60px;
            	background: #f3f3f3;
            	div {
            		display: inline-block;
            		margin-left: 403px;
            		margin-right: 25px;
            	}
            	.count {
            		color: #e3101e;
            		font-weight: 700;
            		font-size: 14px;
            		margin: 0 2px;

            	}
            	#totalPrice {
            		color: #e3101e;
            		font-size: 18px;
            		font-weight: 700;
            		margin-right: 10px;
            	}
            	.goBuy {
            		display: inline-block;
            		width: 130px;
            		height: 60px;
            		background: #e3101e;
            		color: #fff;
            		text-align: center;
            		font-family: microsoft YaHei;
				    font-size: 16px;
				    font-weight: 700;
            	}

            }
	    }
	   
	}
}


// 页面底部
.footer-bottom {
	padding-top: 20px;
	border-top: 1px solid #dd00a7;
	.wbox {
		width: 990px;
		margin: 0 auto;
	}	
}